{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
{{ page_title }} - {{ block.super }}
{% endblock %}
{% block breadcrumb %}{{ block.super }} > {{ post.title }}{% endblock %}
{% block content %}
<div class="blog-item">
    <h2>{{ post.title }}</h2>
    <div class="info">
        By <span><a href="#">{{ post.author }}</a></span> | In <span><a href="#">{{ post.category }}</a></span> | On <span>{{ post.pub_date }}</span> | &#x1f441 <span>{{ post.view_count }} Views</span>
    </div>
    <p>
        {{post.content}}
    </p>
</div>
{% if user.is_authenticated %}
<div class="form">
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p}}
        <p><input type="submit" value="Submit"></p>
    </form>
</div>
{% endif %}

<div class="comments-list">
    {% for comment in comments %}
    <div class="comment">
        <img src="{% static 'blog/images/avatar.png' %}" alt="avatar">
        <div class="info">
            <p>{{ comment.by }}<span> . {{ comment.created_on }}</span></p>
            <p>{{ comment.comment }}</p>
        </div>
    </div>
    {% empty %}
    <div>
        <h3>There are no comments yet.</h3>
    </div>
    {% endfor %}
</div>
{% endblock %}